<h1>New comment</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Submit me", class: "btn btn-primary rounded-border"  %>
<% end %>

<%= link_to "Back to List", list_path(@list), class: "btn btn-secondary rounded-border my-2" %>
